body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

select {
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background-color: #FFF;
  /* padding: 15px 10px; */
  margin: 10px;
  border-radius: 8px;
  width: 450px;
  padding-top: 100px;
  height: 200px;
  font-size: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
